.slick-prev {
  left: 50;
  z-index: 10;
  color: #000;
}
.slick-next {
  right: 0;
  z-index: 10;
  color: red;
}
.slick-prev::before,
.slick-next::before {
  color: #000;
}
.slick-trending .slick-prev {
  left: 25px;
}
.slick-trending .slick-next {
  right: 25px;
}
