.slick-prev {
  left: 50;
  z-index: 10;
  color: #000;
}
.slick-next::before {
  right: 0;
  z-index: 10;
  color: red;
  width: 100px;
}
.slick-prev::before,
.slick-next::before {
  color: #000;
  font-size: 50px;
}
.slick-trending .slick-prev {
  left: 3rem;
}
.slick-trending .slick-next {
  right: 3rem;
  position: absolute;
}
